.links {
	position: relative;
    height: 1100px; 
    &__divider {
        display: none;
		position: absolute;
        background-color: $second-color;
        opacity: 0.5;
        height: 300px;
        width: 600px;
        animation-name: fade;
        animation-duration: 1.5s;
        cursor: pointer;
        &:hover{
            background-color: $third-color;
            transition: all 1s;
            transform: scale(1.1);
            opacity: 1;
            
        }
        @keyframes fade {
            from {
                transform: translateX(50%);
            }
            to {
                transform: translateX(0%);
            }
        }
        &_number{
            top: -25%;
            right: 0%;
            position: absolute;
            font-weight: 900;
            font-size: 120px;
            color:$main-color;
            animation: animNumber 5s
        }
        @keyframes animNumber{
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }    
        }
    	&_title {
			font-weight: 900;
            color: $main-color;
            font-size: 40px;
            margin: 170px 0 20px 15px;
            
		}	
        &_subtitle {
			font-weight: 700;
            color: $main-color;
            font-size: 20px;
            margin-left: 15px;
		} 
        &_1 {
			top: 4%;
            right: 37%;
		} 
        &_2 {
			top: calc( 36% + 8px );
            left: 37%;
            animation-name: fade-2;
            animation-duration: 1.5s;
            @keyframes fade-2 {
                from {
                    transform: translateX(-50%);
                } 
                to {
                    transform: translateX(0%);
                }
            }
        }
        &_3 {
			bottom: 3%;
			right: 37%;
		}
	}
}
.vertical_divider {
	margin: 0 auto;
    height: 1100px;
    width: 1px;
    border-right: 1px solid black; 
}

.effect{
    background-color:rgba(119, 23, 41, 1.00);
    box-shadow: 0 0 15px rgba(119, 23, 41, 1.00),
                0 0 30px rgba(119, 23, 41, 1.00),
                0 0 45px rgba(119, 23, 41, 1.00),
                0 0 90px rgba(119, 23, 41, 1.00);
                transition: all 2s;
                border-radius: 5%;
    &:hover{
        box-shadow: 0 0 30px rgba(119, 23, 41, 1.00),
                    0 0 60px rgba(119, 23, 41, 1.00),
                    0 0 80px rgba(119, 23, 41, 1.00),
                    0 0 100px rgba(119, 23, 41, 1.00),
                    0 0 120px rgba(119, 23, 41, 1.00),
                    0 0 140px rgba(119, 23, 41, 1.00),
                    0 0 160px rgba(119, 23, 41, 1.00);

    }

}


.bgc__img{
    position: absolute;
    z-index: -1;
	width: 300px;
    height: 300px;
    &:nth-child(1) {
        top: 12%;
        left: 42%;
        animation: imgFade 10s linear infinite;
    }
    &:nth-child(2) {
        top: 42%;
        left: 42%;
        animation: imgFade 13s linear infinite;
    }
    &:nth-child(3) {
        top: 60%;
        left: 10%;
        animation: imgFade 2s linear infinite;
    }
    &:nth-child(4) {
        top: 30%;
        left: 1%;
        animation: imgFade 4s linear infinite;
    }
    &:nth-child(5) {
        top: 1%;
        left: 10%;
        animation: imgFade 6s linear infinite;
    }
    &:nth-child(6) {
        top: 15%;
        left: 70%;
        animation: imgFade 3s linear infinite;
    }
    &:nth-child(7) {
        top: 30%;
        left: 80%;
        animation: imgFade 15s linear infinite;
    }
    &:nth-child(8) {
        top: 45%;
        left: 25%;
        animation: imgFade 5s linear infinite;
    }
    &:nth-child(9) {
        top: 60%;
        left: 75%;
        animation: imgFade 9s linear infinite;
    }
    &:nth-child(10) {
        top: 56%;
        left: 56%;
        animation: imgFade 3s linear infinite;
    }
}
@keyframes imgFade{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 1;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}